.introContainer {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
}

.introContainer h1 {
    margin-top: 0;
    text-align: center;
}

.introText {
    width: 70%;
    font-size: 20px;
    padding-right: 20px;
}

.homeImage {
    position: relative;
    right: 0;
    display: inline-block;
    width: 30%;
    height: auto;
    border-radius: 5%;
    border: 5px solid gray;
}

.featuredContainer {
    padding: 50px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
}

.featuredContainer h3 {
    text-align: center;
}

.linkText {
    text-decoration: none;
    color: white;
}


.form {
    margin-top: 60px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
}
  
.form h2 {
    margin-top: 0;
    text-align: center;
}

.form label {
    display:block;
    margin-top: 15px;
}
  
.form input, .form textarea {
    width: 100%;
    padding: 5px;
}
  
.form textarea {
   min-height: 300px;
}