@font-face {
    font-family: 'bionicle';
    src: url('../fonts/bionicle.woff') format('woff'), 
         url('../fonts/bionicle.ttf') format('truetype');
}

@font-face {
    font-family: 'voya-nui';
    src: url('../fonts/voya-nui.woff') format('woff'), 
         url('../fonts/voya-nui.ttf') format('truetype');
}

@keyframes convert {
    from {font-family: inherit;font-weight: 400;line-height: initial;}
    to {font-family: bionicle;font-weight: 600;line-height: 0;}
}

@keyframes convertBack {
    from {font-family: bionicle;font-weight: 600;line-height: 0;}
    to {font-family: voya-nui; font-weight: 400; line-height: initial;}
}

:root {
    background-image: url('../images/archives.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: voya-nui;
}

body {
    margin: 0;
}

nav {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

nav header {
    font-size: 30px;
}

nav ul {
    display: flex;
    align-items: center;
}

.navLink {
    text-decoration: none;
    color: white;
    font-size: 20px
}

:nth-child(1) { --nth-child: 1 }
:nth-child(2) { --nth-child: 2 }
:nth-child(3) { --nth-child: 3 }
:nth-child(4) { --nth-child: 4 }
:nth-child(5) { --nth-child: 5 }
:nth-child(6) { --nth-child: 6 }
:nth-child(7) { --nth-child: 7 }
:nth-child(8) { --nth-child: 8 }
:nth-child(9) { --nth-child: 9 }
:nth-child(10) { --nth-child: 10 }

.navLink:hover span {
    animation: calc(var(--nth-child) * 80ms) step-end forwards convert;
}

.activeNavLink span {
    font-family: bionicle;
    font-weight: 600;
    line-height: 0;
}

.activeNavLink:hover span {
    animation: calc(var(--nth-child) * 50ms) step-end 500ms forwards convertBack;
}